
.wrapper {
  display: flex;
}


.side_bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
  
}

.side_top {
  height: 100px;
  padding: 0 20px;
}

.side_wrapper {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.main_chat {
  width: calc(100vw - 300px);
  
}

.main_top {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.main_wrapper {
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 0 40px;
}

.form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}

